# Dependency directories
node_modules
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*
!.env.example

# Editor/IDE files
.vscode
.idea
.DS_Store

# Git stuff
.git
.gitignore
